apiVersion: apps/v1
kind: Deployment
metadata:
  name: metrics-app
  labels:
    app: metrics-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: metrics-app
  template:
    metadata:
      labels:
        app: metrics-app
    spec:
      containers:
        - name: metrics-app
          image: ghcr.io/stefanprodan/podinfo:6.5.3
          ports:
            - containerPort: 9898
          env:
            - name: PODINFO_UI_COLOR
              value: "#34577c"